RewriteEngine On

# Если файл или папка существует — отдаём напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Иначе всё отправляем в index.php
RewriteRule ^ index.php [QSA,L]
